// .sunList{
//     background-color: blueviolet;
//     &__wrapper{
//         display: flex;
//         gap: 90px;
//     }
// }

.sunList {
  padding-bottom: 35px;
  padding-top: 35px;
 
  @media screen and (min-width: 768px){
          padding-bottom: 50px;
          padding-top: 50px;
        }

        @media screen and (min-width: 1200px){
            padding-bottom: 80px;
            padding-top: 80px;
        }
}

 .sunList__wrapper {
    display: flex;
    gap: 90px;
    flex-wrap: nowrap;
  }

.slider {
  overflow-x: auto;
  // scrollbar-width: thin;
  margin-left: auto;
  margin-right: auto;
  width: 320px;

  @media screen and (min-width: 768px){
          width: 968px;  
        }

        @media screen and (min-width: 1200px){
            width: 1440px;
        }
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .sunList__wrapper {
  display: flex;
  gap: 90px;
  flex-wrap: nowrap;
  width: max-content; 

}
