.header{
    background-color: #fff;
    display: flex;
    align-items: center;
    

    &__logo{
        // margin-left: 150px;
        width: 82px;
        height: 56px;
    }

    &__main_box{
        position: relative;
        display: flex;
        align-items: center;

        // &:hover &__menu_box{
        //     opacity: 1;
        //     visibility: visible;
        //     transform: translate(-50%, -50%);
        // }
    }

    .header__main_box:hover .header__menu_box{
         opacity: 1;
            visibility: visible;
            transform: translate(-50%, -50%);

            @media screen and (min-width: 768px){
                transform: translate(0, 0);
        }
    }

    &__list{
        list-style: none;
        display: flex;
        flex-direction: column;
        font-size: 10px;
        gap: 25px;
        padding-left: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
        // padding-right: 156px;
        // background-color: chartreuse;

        @media screen and (min-width: 768px){
            flex-direction: row;
            gap: 42px;
            padding-left: 57px;


        }
    
        @media screen and (min-width: 1200px){
            // padding-top: 50px;
            font-size: 12px;
            padding-left: 111px;

            // margin-left: 111px;
            // margin-right: 484px;

        }
    }

    &__list_item{
        font-weight: 500;
        font-size: 12px;
        color: #000;
        text-decoration: none;
        width: 70px;

        @media screen and (min-width: 1200px){
            width: 80px;
            
        }
        
    }

    &__prof_box{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;

        @media screen and (min-width: 768px){
            flex-direction: row;

        }
    
        @media screen and (min-width: 1200px){
            // margin-left: 519px;
            
        }


    }

    &__btn{
        border-radius: 10px;
        padding: 8px 16px;
        background: #ffb36c;
        // margin-right: 51px;
        font-size: 10px;
        font-weight: 500;
        color: #000;
        border: none;
        margin-bottom: 33px;
        margin-top: 15px;
        // margin-left: 156px;

        @media screen and (min-width: 768px){
            margin-right: 25px;
            margin-bottom: 0;
            margin-left: 153px;
            
        }
    
        @media screen and (min-width: 1200px){
            font-size: 12px;
            padding: 10px 20px;
            margin-left: 460px;
            
        }
    }

    &__icon_prof{
        width: 50px;
        height: 50px;
        margin-right: 55px;
        margin-left: 100px;

        // @media screen and (min-width: 393px){
        //     margin-right: 66px;
        //     margin-left: 173px;
        // }

        @media screen and (min-width: 768px){
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__menu_text{
        display: block;
         @media screen and (min-width: 768px){
            display: none;
        }
    
    }

    &__menu_box{
        position: absolute;
        top: 140px;
        // left: 153px;
        left: 160px;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        // outline: solid blueviolet 2px;
        display: flex;
        background-color: #E6E6E6;
        // background-color: darkgreen;

        @media screen and (min-width: 768px){
            position: static;
            opacity: 1;
            visibility: visible;
            top: auto;
            left: auto;
            transform: translateX(0);
            background-color: #fff;

        }
    }

    &__user_name{
        @media screen and (min-width: 768px){
            margin-left: 153px;
        }
    
        @media screen and (min-width: 1200px){
            margin-left: 480px;
            margin-right: 25px;
        }
    }
}

