.hour{
    &__main_box{
        background-color: aqua;
    }

    &__box{
        background-color: #E8E8E8;
        padding-right: 38px;
        padding-left: 35px;
        padding-bottom: 50px;
    }

}
